@import "tailwindcss";


body p {
    font-family: 'inter', sans-serif;
    color: #718096;
}

h2 {
    font-family: "inter", sans-serif;
    color: #2D3748;
    font-size: 3rem;
}


.btn {
    text-decoration: none;
    color: #2d3748;
    font-size: 1.3rem;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    font-family: roboto;
}

.btn:hover {
    color: #f9b94e;
    background-color: #dfffc4;
}


.btn:active {
    color: white;
    background-color: #f9b94e;
}





.bg-img {
    background-image: url(/bg.avif);
    background-size: cover;
}




.font-p {
    font-family: 'inter', sans-serif;
}

.txtColor-Org {
    color: #f9b94e;
}


.Bg-Color {
    background-color: #dfffc4;
}

.bg-two {
    background-image: url(https://images.unsplash.com/photo-1710162734135-8dc148f53abe?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1332);
    background-size: cover;
}


.bg-t {
    background-image: url(/bg-two.avif);
    background-size: cover;
}

.poppins {
    font-family: "inter", sans-serif;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-slideDown {
    animation: slideDown 0.3s ease-out;
}